# Part 6. 데이터 프레임의 다양한 응용

### 1. 함수 매핑

##### <예제 6-1> 시리즈의 원소에 apply() 적용

In [2]:
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [3]:
titanic = sns.load_dataset('titanic')
df = titanic.loc[:, ['age', 'fare']]
df['ten'] = 10
print(df.head(3))

    age     fare  ten
0  22.0   7.2500   10
1  38.0  71.2833   10
2  26.0   7.9250   10

In [5]:
def add_10(n):
    return n + 10

def add_two_obj(a, b):
    return a + b

print(add_10(10))
print(add_two_obj(10, 10))

20
20

In [14]:
print(df['age'].apply(add_10).head(3))

0    32.0
1    48.0
2    36.0
Name: age, dtype: float64

##### <예제 6-2> 데이터프레임 원소에 applymap() 적용

In [13]:
df = titanic.loc[:, ['age', 'fare']]
print(df.head(3))

    age     fare
0  22.0   7.2500
1  38.0  71.2833
2  26.0   7.9250

In [12]:
print(df.applymap(add_10).head(3))

    age     fare
0  32.0  17.2500
1  48.0  81.2833
2  36.0  17.9250

##### <예제 6-3> 데이터프레임에 apply(axis=0) 적용

In [16]:
def missing_value(series):
    return series.isnull()

print(df.apply(missing_value, axis=0).head(3))

     age   fare
0  False  False
1  False  False
2  False  False

##### <예제 6-4> 데이터프레임에 apply(axis=0) 적용

In [24]:
def min_max(x):
    return x.max() - x.min()

print(df.apply(min_max))

age      79.5800
fare    512.3292
dtype: float64

##### <예제 6-5> 데이터프레임에 apply(axis=1) 적용

In [30]:
def add_two_obj(a, b):
    return a + b

print(df.apply(lambda x: add_two_obj(x['age'], 10), axis=1).head(3))

0    32.0
1    48.0
2    36.0
dtype: float64

##### <예제 6-6> 데이터프레임에 pipe() 적용

In [31]:
def missing_value(x):
    return x.isnull()

def missing_count(x):
    return missing_value(x).sum()

def total_number_missing(x):
    return missing_count(x).sum()

In [33]:
result_df = df.pipe(missing_value)
result_series = df.pipe(missing_count)
result_value = df.pipe(total_number_missing)

In [34]:
print(result_df.head(3))
print(result_series)
print(result_value)

     age   fare
0  False  False
1  False  False
2  False  False
age     177
fare      0
dtype: int64
177